{{ if and (eq .chezmoi.os "windows") .do_init_script -}}
winget install --id "lsd-rs.lsd" --source winget || echo.
winget install --id "twpayne.chezmoi" --source winget || echo.
winget install --id "Fastfetch-cli.Fastfetch" --source winget || echo.
winget install --id "JanDeDobbeleer.OhMyPosh" --source winget || echo.
{{ end -}}
